.totalFont {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: rgb(33, 199, 221) !important;
    text-decoration: none !important;
}

