.katie-picture {
    display:block;
    max-width: 750px;
    max-height: 750px;
    width: auto;
    height: auto;
    border-radius: 50px;
    border: 10px solid white;
}

#aboutMe {
    color: white;
    font-size: 30px;
    margin-top: 100px !important;
  }

.info {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 80px;
    margin-left: 30px;

    }

.signature {
    color: white;
    font-size: 30px;
    font-family: Segoe Script, Lucida Handwriting, Edwardian Script;
    text-align: center;
}

