.katie-picture {
    margin-top: 30px;
    max-width: 750px;
    max-height: 750px;
    width: auto;
    height: auto;
    border-radius: 50px;
    border: 10px solid white;
}

#aboutMe {
    color: white;
    font-size: 30px;
    }

.info {
    font-size: 30px;
        text-align: justify;
      font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 800px;
    }
    .signature {
        color: white;
        font-size: 30px;
        font-family: Segoe Script, Lucida Handwriting, Edwardian Script;
        text-align: center;
    }