.totalFont {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 5%;
    padding-left: 5%;
}

p {

    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2;
    font-size: 25px;
}

li {
    margin-bottom: 15px;
    text-align: left;
    font-size: 25px;
}

.color {
    color: rgb(33, 199, 221) !important;
}

.negative {
    margin-top: -50px !important;
}